---
---
<div class="bg-black">
    <section class=" pl-4  lg:grid lg:grid-cols-3 lg:text-center text-neutral-300 font-bold pt-10"> 
        <div class=" pb-4 lg:pr-4">
            <p>footer content 1 </p>
        </div>
        <div class=" pb-4">
            <p>footer content 2</p>
        </div>
        <div class="lg:pl-4"> 
            <p>footer content 3</p>
        </div>
    </section>
    <section class="text-center text-neutral-300  font-bold pt-20 pb-10">
        <p>copyright 2024</p>
    </section>
</di>
  